@import 'src/styles/theme';

.drawingprompt {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) { // Adjust for mobile screens
      flex-direction: column;
      align-items: center;
    }
  }




  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 60em;
    height: 35em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 37px;
    margin-right: 20px;

    border-radius: 0.75em;
    background-color: #F4CE7C; //color of yellow form
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }

  &.form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 15em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 0px;

    padding-right: 37px;
    border-radius: 0.75em;
    transition: opacity 0.5s ease, transform 0.5s ease;

    @media (max-width: 768px) {
      margin-top: 1em;
    }
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }

  &.label {
    color: #555876;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 35px;
  }

  &.row{
    display: flex;
    flex-direction: row;
  }


  &.column{
    display: flex;
    flex-direction: column;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.questionimg {

    height: 21em;
    width: 15em;
    margin-top: 20em;
    margin-right: 10em;

    @media (max-width: 768px) {
      height: 20em;
      width: 14em;
    }
  }

  &.canvas {

    background-color: #ffffff;


  }

  &.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3%;

  }

  &.colorbutton-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;

  }
}
