@import 'styles/theme';

.joincode {
  &.container {
    margin-top: 2em;
    min-height: 300px;

    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    display: flex;
    flex-direction: row;
  }


  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 30em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    margin-right: 20px;
    border-radius: 0.75em;
    background-color: #F4CE7C; //color of yellow form
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }

  &.form2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 30em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: #5CC8D5; //color of black form
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.questionimg {
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    height: 43em;
    width: 30em;


  }


}