@import '../theme';

.leaderboardview {
  &.container {
    margin-top: 2em;
    min-height: 300px;

    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }


  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.75em;
    background-color: #F4CE7C; //color of yellow form
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }

  &.form2 {

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 30em;
    max-width: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    transition: opacity 0.5s ease, transform 0.5s ease;
    @media (max-width: 768px) {
      min-height: 0;
    }
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.questionimg {

    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    max-width: 80%;
    height: auto;
    width: 18em;
    @media (max-width: 768px) {
      display: none
    }

  }

  &.player-name {
    display: inline-block;
    width: 150px;
  }

  &.score {
    display: inline-block;
    width: 50px;
  }
  &.latest-score {
    display: inline-block;
    width: 150px;
    margin-left: 50px;
  }

  &.color-red {
    color: red;
  }

  &.color-green {
    color: green;
  }





}