@import 'src/styles/theme';

$textColor: black;

.prompt {
  h1{
    color: black;
  }
  &.container {
    min-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @media (max-width: 768px) { // Adjust for mobile screens
      flex-direction: column;
      align-items: center;
    }
  }

  &.container3{
    margin-top: 1em;
    @media (min-width: 768px) {
      margin-top: 3em;
    }
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: black;
    }

  &.containerQuestion{
    margin-top: 2em;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    @media (max-width: 768px) { // Adjust for mobile screens
      flex-direction: column;
      align-items: center;
    }
  }

  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 60em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.75em;
    background-color: #F4CE7C; //color of yellow form
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }

  &.form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    transition: opacity 0.5s ease, transform 0.5s ease;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }

  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.questionimg {
    height: auto;
    width: 15em;
    margin-top: 2em;

  }

  &.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  &.switch input{
    display: none;
  }
  &.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  &.slider:before{
    position: absolute;
    content:"";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  &input:checked + .slider{
    background-color: #2196F3;
  }
  &input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
  }
  &input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
