@import 'src/styles/theme';

.Selection {
  button{
    min-width: 10rem;
    margin: 10px;

    @media (max-width: 768px) { // Adjust for mobile screens
      min-width: 5rem;
    }
  }
  &.container {
    margin-top: 2em;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) { // Adjust for mobile screens
      flex-direction: column;
      align-items: center;
    }
  }


  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 60em;
    min-height: 35em;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 20px 20px 20px;
    margin-right: 20px;

    border-radius: 0.75em;
    background-color: #F4CE7C; //color of yellow form
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }

  &.questionSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &.button-container{
    display: flex;
    align-items: end;
    button{
      min-width: 10rem;

      @media (max-width: 768px) { // Adjust for mobile screens
        min-width: 5rem;
      }
    }
  }
}