@import 'styles/theme';

.startscreen {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    @include center;
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) { // Adjust for mobile screens
      flex-direction: column;
      align-items: center;
    }
  }

  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 0px;
    margin-right: 20px;
    border-radius: 0.75em;
    background-color: #F4CE7C; //color of yellow form
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    background-image: radial-gradient(#ffffff 0.5px, #F4CE7C 0.5px);
    background-size: 10px 10px;

    @media (max-width: 768px) { // Adjust for mobile screens
      margin-right: 0;
      margin-bottom: 2em;
      width: 100%;
      max-width: none;
    }
  }

  &.form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    width: 100%;
    max-width: 40em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0.75em;
    transition: opacity 0.5s ease, transform 0.5s ease;

    @media (max-width: 768px) { // Adjust for mobile screens
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 2em;
      margin-bottom: 2em;
      height: auto;
    }
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }

  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.question {
    -ms-transform: rotate(340deg);
    transform: rotate(340deg);
    height: 51em;
    width: 36em;
    margin-bottom: 50px;
    margin-left: -50px;
  }


  &.questionimg {
    -ms-transform: rotate(340deg);
    transform: rotate(340deg);
    height: 51em;
    width: 36em;
    margin-bottom: 50px;
    margin-left: -50px;
    animation-name: jump;
    animation-duration:3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @keyframes  jump {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-200px) ;
      }
      100% {
        transform: translateY(0) rotate(340deg);
      }
    }

    @media (max-width: 768px) { // Adjust for mobile screens
      width: 100%;
      max-width: none;
      margin-bottom: 4em;
      margin-left: 10%;
    }
  }

  &.bubbleimg {
    height: 38em;
    width: 26em;
    margin-left: 200px;
    margin-top: 50px;

    @media (max-width: 768px) { // Adjust for mobile screens
      width: 60%;
      margin-left: 0;
      margin-top: 30px;
      align-self: center; // Center the image horizontally
      margin-bottom: 2em;
    }
  }

  &.appearingButton{
    animation: appear 1s ease-in-out forwards;
    opacity: 0;
  }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  &.appearingButton2{
    animation: appear2 1s ease-in-out forwards;
    opacity: 0;
  }
  @keyframes appear2 {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
