@keyframes loading-spinner {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.loading-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}

.loading-spinner div {
    position: absolute;

    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #BE7BF6;
    border: 0.009px solid #F4CE7C;
    animation: loading-spinner 5s infinite;
    transform-origin: center; /* add this line */
}

.loading-spinner div:nth-child(1) {
    left: 0px;
    animation-delay: 0s;
}

.loading-spinner div:nth-child(2) {
    left: 20px;
    animation-delay: 0.7s;
}

.loading-spinner div:nth-child(3) {
    left: 40px;
    animation-delay: 1.4s;
}

.loading-spinner div:nth-child(4) {
    left: 60px;
    animation-delay: 2s;
}
