@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import 'styles/theme';

/**
This file contains the general and shared style of your application.
 */
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: $fontDefault;
  //background-color: #5CC8D5; //So farbe vom Hintergrund

  opacity: 1;
  background-image: linear-gradient(135deg, #5CC8D5 25%, transparent 25%),
  linear-gradient(225deg, #5CC8D5 25%, transparent 25%),
  linear-gradient(45deg, #5CC8D5 25%, transparent 25%),
  linear-gradient(315deg, #5CC8D5 25%, transparent 25%),
  linear-gradient(#5fc2cf, #5fc2cf);
  background-position:  26px 0, 26px 0, 0 0, 0 0;
  background-size: 26px 26px;
  background-repeat: repeat;

}


input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
